/*
CDN Fonts
*/
 @import url('https://fonts.cdnfonts.com/css/minecrafter-alt');
 @import url('https://fonts.cdnfonts.com/css/minecraftia');
 @import url('https://fonts.cdnfonts.com/css/minecraft-items');
 
body {
    font-size: 15pt;
    background-color: #2c3440;
}
p {
    color: #FFF;
    font-family: 'Minecraftia', sans-serif;
    text-shadow: 1px 1px 5px #000;
}

h1 {
    color: #FFF;
    font-family: 'Minecrafter Alt', sans-serif;
    text-shadow: 1px 1px 5px #000;
}

img {
    margin: 2% 2% 2% 2%;
    outline-offset: 2%;
    outline: 5px solid #59697c;
    border-radius: 15px;
    background-color: #3f4d5c;
    box-shadow: 10px;
    box-shadow: -0.5px -0.5px 20px 10px #3f4d5c;
    
}

.Item {
    font-family: 'Minecraft Items', sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    font-size: 30px;
}

.button {
    background-color: #3f4d5c;
    border: 0% 0% #FFF;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 7px 7px;
}